* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}



.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}



.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}



.square:hover {
  background-color: grey;
  cursor: pointer;
}

.menu {
  background-color: lightgrey;
  border-bottom-width:2px;
  border-bottom-color:#000000;
  border-bottom-style: solid;
  position: relative;
  top:-15px;
  text-align:center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size:18px;
  padding-left:1em;
  padding-right:1em;
  overflow:hidden;
}

.menu h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 48px.;
}

.menu:hover {
   background-color: grey;
}

.main {
   width:65%;
   margin:0 auto;
   background-color: lightgrey;
   text-align:center;
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size:24px;
   padding-top:1px;
}

.footer {
   text-align:center;
   background-color: lightgrey;
   color: grey;
   font-family:"Comic Sans MS", cursive, sans-serif;
   margin-bottom:-1em;
}

#footer li {
   display:inline-block;
   padding-right:8em;
   vertical-align:middle;
   margin-top: -30px;
}


#nav {
   padding-top:15px;
}

#nav a {
   text-decoration:none;
}

#nav a:link {
   color:black;
}

#nav a:visited {
    color:black;
}

#nav a:hover {
    color:blue;
}

img {
    margin:42px;
}

#nav ul {
    display:inline-block;
}


#nav li {
    display:inline-block;
    margin-right:4.5em;
    padding-right:2.5em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background-color: lightgrey;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

#gameCanvas {
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
