body {
  background-color: lightgrey;
  text-align: center;
}

h1 {

  margin: 0 auto;

  font-family: "Comic Sans MS", cursive, sans-serif;

  font-size: 48px;

  margin: 2%;

}
  
td {
  border-color: white;
}

p {
  background-color: black;
}
table, td, th {
  border: 1px solid white;
}

div {
  text margin: 0px;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  user-select: none;
  line-height: 185px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px

}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 750px;
}

.container {
align-items: center;
}

.Red {
  background-color: red;
  color: red;
}

.Yellow {
  background-color: yellow;
  color: yellow;
}

#board {
  background-color: blue;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;
}
